#photo-gallery {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

img.photo {
  max-width: 30%;
  height: auto;
  border: 1px solid white;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  color: white;
  max-width: 100%;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  padding: 5px 5px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}