/* For recipes page */
#recipe-gallery {
  margin-top: 3%;
  margin-left: 3.5%;
  margin-bottom: 28%;
}

div.recipe {
  display: inline;
  float: left;
  margin-inline: 5px;
  border: 1px solid rgba(252, 252, 252, 0.5);
  width: 23%;
  margin-bottom: 5px;
}

div.recipe:hover {
  border: 1px solid white;
}

img.recipe-image {
  width: 100%;
  height: 150px;
  color: white;
}

div.recipe-description {
  padding: 15px;
  text-align: center;
  font-size: large;
}