.project-links:link {
  text-decoration: underline;
  color: white;
}

.project-links:visited {
  text-decoration: none;
  color: white;
}

.project-links:hover {
  text-decoration: none;
  color: rgb(27, 245, 85);
}

.project-links:active {
  text-decoration: none;
  color: white;
}

.project-media {
  display: block;
  margin: 30px auto 0 auto;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 60%;
  height: auto;
}

.project-media-caption {
  margin-top: 5px;
  text-align: center;
  font-size: x-large;
}

